<h1>Documents</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Actions</th>
    <th></th>
  </tr>

  <% @documents.each do |document| %>
    <tr>
      <td><%= link_to document.url %></td>      
      <td><%= link_to 'Show', document_path(document) %></td>      
      <td><%= link_to 'Destroy', document_path(document),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'New document', new_document_path %>
</table>
