<div class="row justify-content-center mt-3 ">
  <div class="col col-md-10">

    <h2>Documents</h2>

      <table class="table">
        <tr>
          <th>URL</th>
          <th>Actions</th>
          <th></th>
        </tr>
        
        <%= render partial: 'documents/document', collection: @documents %>
      </table>

      <%= paginate @documents %>    

      <div class="text-center">
        <%= link_to 'New document', new_document_path,class: 'btn btn-outline-success btn-sm' %>      
      </div>

  </div>
</div>

