<p>
  <strong>Document</strong>
  <%= link_to @document.url, @document.url, target: "_blank" %>
</p>

<h1>Tags list</h1>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tag</th>
        <th scope="col">Count</th>
        <th scope="col" width=25>Actions</th>
      </tr>
    </thead>
    
    <%= render @tags %>      
  </table>

<%= paginate @tags %>

<%= link_to 'Back', documents_path %>
