<div class="row justify-content-center mt-3 ">
  <div class="col col-md-8">

    <h2>Tags list</h2>

    <p>
      <strong>Document</strong>
      <%= link_to truncate(@document.url, length: 35), target: "_blank" %>
    </p>

    <table class="table">
      <tr>
        <th>Tag</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>        
      
      <%= render partial: 'tags/tag', collection: @document_tags %>      
    </table>

    <%= paginate @document_tags %>

    <%= link_to 'Back', documents_path, class: 'btn btn-outline-primary' %>

  </div>
</div>