<p>
  <strong>Document</strong>
  <%= @document.url %>
</p>

<h1>Tags list</h1>

<div class="table-resposive">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    
    <%= render @document.tags %>      
  </table>
</div>
