<div class="row justify-content-center mt-3 ">
  <div class="col col-md-8">

    <h3><%= @tag.title %> tag</h3>

    <div class="text-center">
    <p>
      <strong>Count:</strong>
      <%= @tag.count %>
    </p>

    <%= link_to 'Back', document_path(@tag.document), class: 'btn btn-outline-primary' %>
    </div>

  </div>
</div>